/*variables css*/
@font-face {
    font-family: 'PoliceTitrePrincipal';
    src: url('polices/Montserrat/static/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'PolicesousTitre', sans-serif;
    src: url('polices/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Policebody', sans-serif;
    src: url('polices/Lato/Lato-Bold.ttf');
}
@font-face {
    font-family: 'PolicebodySecond', sans-serif;
    src: url('polices/Lato/Lato-Regular.ttf');
}

:root{
    --background-color-primary: #ffffff;
    --background-color-secondary: #000000;
    --background-color-tertio: #0005e7;
    --background-color-quator: #ededed;
    --background-color-quinque: #f1f1f1;
    --color-primary: #ffffff;
    --color-secondary: #000000;
    --color-quinque: #585858;
    --color-tertio: #0005e7;
    --color-quator: #252526;
    --font-family-Policebody: 'PoliceTitrePrincipal', sans-serif;
    --font-family-Policebody: 'Policebody', sans-serif;
  
}

/*Ecran extra small devices (portrait phone, Less than 576px)*/
@media(max-width: 575.98px){
*{background-color: var(--background-color-primary); font-weight: bold; margin: 0; padding: 0;}
*::-webkit-scrollbar{width: 1px;}
@-moz-document url-prefix(){
   html{
        overflow-y: auto;
        overflow-x: auto;
        scrollbar-width: thin;
        }
    }

    a{background: transparent; text-decoration: none;}
    #Main{background: var(--background-color-primary); width: 100%; height: 100%; margin-top: 5rem; position: absolute;}


   .icon-previous-page{background: transparent; width: 1.4rem; height: 1.4rem; margin-left: 8%; margin-top: 42%;}
   
   .result-bloc{padding: 2%; margin-top: 3rem;}
   .me2{margin-top: 1.5rem;}
   .resultContainer{padding: 2%;}
   .result-bloc img{border-radius: 1rem; margin-top: 1%;}
   .result-bloc  .btn-orangered{background: orangered; border-radius: 0.5rem; padding: 2%; border: none; color: white; font-family: var(--font-family-Policebody);}
   .blocvide2{background: transparent; width: 100%; height: 8rem;}

       .result-bloc img{background: transparent; width: 100%; border-radius: 0.5rem; margin-left: 1%;}
      /* .result-bloc img{background: transparent; width: 100%; border-radius: 0.5rem; margin-left: 1%; margin-top: 25%; margin-bottom: 17%;}
       .result-bloc img{background: transparent; width: 100%; border-radius: 0.5rem; margin-left: 1%; margin-top: 15%; margin-bottom: 20%;}
       .result-bloc img{background: transparent; width: 100%; border-radius: 0.5rem; margin-left: 1%; margin-top: 28%; margin-bottom: 33%;}
       .result-bloc img{background: transparent; width: 100%; border-radius: 0.5rem; margin-left: 1%; margin-top: 40%; margin-bottom: 45%;}
       .result-bloc .title-produit1{background: transparent; font-size: 18px; color: var(--color-secondary); font-family: var(--font-family-Policebody); text-align: center;}
    */ .btn-orangered{background: orangered; border-radius: 0.5rem; padding: 2%; border: none; color: white; font-family: var(--font-family-Policebody); margin-top: 5%; padding: 2%;}
    .card-text{font-size: 19.5px; text-align: center; font-family: var(--font-family-Policebody);}
    .b{font-family: var(--font-family-Policebody); font-size: 22px; text-align: center; margin-top: 2%;}
  
    .modal-content{padding: 1rem;}
    .modal-body{height: auto; padding: 1rem;}
    #staticBackdrop1{width: 100%; height: auto; background: transparent;}
    #staticBackdrop2{width: 100%; height: auto; background: transparent;}
    .modal-dialog{border-radius: 0.5rem;}
    


   input{width: 100%;}
   #title-all-me{margin-top: 1rem; margin-bottom: 0.1rem; margin-left: 4%; background: transparent; font-size: 14px; color: var(--color-quinque);
    font-family: var(--font-family-Policebody);}
    
    .b-b{padding: 2%; border: 2px solid rgb(206, 206, 206);}
   

}
